---
layout: default
---

<hr>

<h2><a href='#'>{{ page.title }}</a></h2>
<div class="post">
<span class="meta">{{ page.date | date: "%b %d, %Y" }} &bull; Episode {{ page.slug }} </span>

{{ content }}

{% assign times = page.duration | split: ":" %}
{% assign hourmins = times[0] | times:60 %}
{% assign minutes = times[1] | plus:hourmins %}

<audio controls="controls">  
   <source src="{{ page.link }}" />  
</audio> 
<p><a href="{{ page.link }}">Download</a>  &bull; {{ minutes }} minutes </p>

</div>
